* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* PROVA */
.prova {
    line-height: 20px;
    border: solid 1px black;
}

/* UTILITY */

.container {
    display: block;
    max-width: 1200px;
    margin: auto;
}

.white-bottom {
    background-color: white;
    line-height: 15px;
    border-radius: 40px;
    display: inline-block;
    padding: 10px 15px;
}

.bt-white a {
    text-decoration: none;
    color: black;
}

.black-bottom {
    background-color: #23272a;
    line-height: 15px;
    border-radius: 40px;
    display: inline-block;
    padding: 10px 15px;
}

.bt-black a {
    text-decoration: none;
    color: white;
}

h1 {
    color: #23272a;
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 20px;
}

p{
    color: #23272a;
    font-size: 25px;
    line-height: 40px;
}

/* TOP MAX CONTAINER */
.header-container1 {
    background-color: #255ee9;
}

/* CONTENTE TOP CONTAINER */

.logo {
    display: inline-block;
    vertical-align: middle;
}

/* TOP NAVIGATION ZONE */
.nav a:first-child {
    margin-left: 200px;
}

.nav a:last-child {
    margin-right: 200px;
}

ul {
    display: inline-block;
}

li {
    display: inline-block;
    margin: 20px;
    color: white;
}

/* BOTTOM BIANCO */
.bt-white a {
    text-decoration: none;
    color: black;
}

/* FIRST MAIN BACK IMG */

.first-section {
    display: block;
    background-image: url(./img/jumbo.png);
    height: 830px;
    background-size: cover;
}

/* FIRST SECTION */
/* ALL THAT IS INSIDE  */
.container-chg {
    padding: 140px 0;
    padding-bottom: 265px;
    width: 50%;
}

.first-section .container .contain {
    text-align: center;
    padding: 0% 5%;
}

.first-section .container .contain h1{
    color: white;
    font-size: 60px;
    line-height: 150px;
}

.first-section .container .contain p{
    color: white;
    font-size: 30px;
    line-height: 40px;
    padding-top: 20px;
    padding-bottom: 40px;
}

/* FIRST MAIN DOUBLE BOTTOM */
.second-bottom {
    text-align: center;
}

.second-bottom div{
    display: inline-block;
}

/* SECOND SECTION */
/* ALL THAT IS INSIDE */
.second-section {
    padding: 200px;
    background-color: white;
}

.left1 {
    width: 65%;
    float: left;
}

.right1 {
    width: 35%;
    float: left;
}

/* CLEARFIX */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* THIRD SECTION */
/* ALL THA IS INSIDE */
.third-section {
    padding: 200px;
    background-color: #f6f6f6;
}

.left2 {
    width: 35%;
    float: left;
}

.right2 {
    width: 65%;
    float: left;
    position: relative;
}

.right2 img {
    position: absolute;
    right: 0%;
}

/* FOURTH SECTION */
/* ALL THAT IS INSIDE */
.fourth-section {
    padding: 200px;
    background-color: white;
}

/* FIFTH SECTION */
/* ALL THAT IS INSIDE */
.fifth-section {
    padding: 200px;
    background-color: #f6f6f6;
}

.fifth-section h1 {
    font-size: 55px;
    text-align: center;
}

.fifth-section p {
    text-align: center;
}

.fifth-img img {
    margin: 50px 0;
    width: 100%;
}

.fifth-text2 h1 {
    font-size: 40px;
    background-image: url(./img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 50%;
}

.fifth-bottom {
    text-align: center;
}

.fifth-bottom div {
    background-color: #8ea1e1;
}

/* SIXTH SECTION */
/* ALL THAT IS INSIDE */
.footer {
    padding: 30px;
    background-color: #23272a;
}

.col {
    float: left;
    width: 32%;
}

.col1 {
    float: left;
    width: 17%;
}

.sixth-title {
    color: #8ea1e1;
    font-size: 36px;
    line-height: 50px;
}

.sixth-title1 {
    color: #8ea1e1;
    font-size: 20px;
}

.col1 ul li {
    display: block;
}

.col1 ul li a{
    text-decoration: none;
    color: white;
}

.lenguage img {
    vertical-align: middle;
    width: 20px;
}

.lenguage span {
    color: white;
}

.end {
    position: relative;
    margin: 30px 0 70px 0;
}

.last-bottom {
    background-color: #8ea1e1;
    border-radius: 40px;
    display: inline-block;
    padding: 10px 15px;
    position: absolute;
    right: 0%;
    top: 0%;
}

.last-bottom a{
    color: white;
    text-decoration: none;
    line-height: 15px;
}